PROFILE_ACTIVE=development
NODE_ENV=development

WEB_URL=http://localhost:3000
API_URL=http://localhost:8080/api
API_URL_SERVER=http://api:8080/api

TESTER_UUID_REFRESH_TRACKER=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

MAILER_HOST=
MAILER_PORT=2525
MAILER_USERNAME=
MAILER_PASSWORD=
MAILER_FROM=no_reply@yourdomain.com

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

POSTGRES_HOST=postgres
POSTGRES_DB=db_name
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=1

RSA_PRIVATE_CONTENT=
RSA_PUBLIC_CONTENT=
