PROFILE_ACTIVE=development

WEB_URL=http://localhost:3000
API_URL=http://localhost:8080

MAILER_TOKEN=
MAILER_HOST=
MAILER_PORT=2525
MAILER_USERNAME=
MAILER_PASSWORD=
MAILER_FROM_SMTP=no_reply@test.com

GOOGLE_CLIENT_ID=temp
GOOGLE_CLIENT_SECRET=temp

GITHUB_CLIENT_ID=temp
GITHUB_CLIENT_SECRET=temp

POSTGRES_HOST=database
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=1

JWT_PRIVATE_KEY_PATH=../keys-dev
JWT_PUBLIC_KEY_PATH=../keys-dev
