@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blog-black: 300 0% 0%;
  --blog-black-lighter: 300 3% 12%;
  --blog-silver: 278 8% 80%;
  --blog-orange: 30 85% 65%;
  --blog-orange-lighter: 30 90% 85%;
  --blog-orange-darker: 30 55% 45%;

  /*------------------------------=====Light=====------------------------------*/
  --scrollbar-track: 0 0% 90%;
  --scrollbar-thumb: 200 5% 75%;
  --scrollbar-thumb-hover: 200 5% 70%;

  --blog-background-1: hsl(0, 0%, 100%);
  --blog-background-2: hsl(0, 0%, 98%);
  --blog-background-3: hsl(0, 0%, 96%);
  --blog-background-backdrop: hsla(0, 0%, 90%, 0.25);
  --blog-background-backdrop-hover: hsla(0, 0%, 85%, 0.25);

  --blog-foreground-readable: hsl(var(--blog-black));
  --blog-foreground-readable-hover: hsl(var(--blog-black));
  --blog-foreground-highlight: hsl(var(--blog-orange));
  --blog-foreground-highlight-lighter: hsl(var(--blog-orange-lighter));
  --blog-foreground-highlight-backdrop: hsla(30, 100%, 80%, 0.15);

  --blog-green: hsl(144, 56%, 41%);
  --blog-red: hsl(0, 100%, 60%);

  --blog-border: hsl(0, 0%, 90%);
  --blog-border-green: var(--blog-black);
  --blog-border-red: var(--blog-black);

  --blog-pre: hsl(0, 0%, 100%);
  --blog-code-text: hsl(var(--blog-silver));
  --blog-code-keyword: 30 78% 55%;
  --blog-code-class: 30 78% 55%;
  --blog-code-tag-css: 60 42% 76%;
  --blog-code-parameter: 41 97% 61%;
  --blog-code-function: 190 69% 61%;
  --blog-code-readable: var(--blog-black);
  --blog-code-literal: 160 66% 55%;
  --blog-code-type: 160 67% 51%;
  --blog-code-string: 100 61% 38%;
  --blog-code-comment: 0 0% 75%;
  --blog-code-regexp: 350 80% 58%;
  --blog-code-regexp-lighter: 330 70% 65%;
  --blog-code-regexp-darker: 295 65% 47%;
}

.dark {
  /*------------------------------=====Dark=====------------------------------*/
  --scrollbar-track: 0 0% 0%;
  --scrollbar-thumb: 266 4% 35%;
  --scrollbar-thumb-hover: 270 3% 39%;

  --blog-background-1: hsl(0, 0%, 9%);
  --blog-background-2: hsl(0, 0%, 7%);
  --blog-background-3: hsl(0, 0%, 0%);
  --blog-background-backdrop: hsla(0, 0%, 7%, 0.25);
  --blog-background-backdrop-hover: hsla(0, 0%, 15%, 0.25);

  --blog-placeholder: hsl(0, 0%, 30%);
  --blog-foreground-readable: hsl(var(--blog-silver));
  --blog-foreground-readable-hover: hsl(0, 0%, 100%);
  --blog-foreground-highlight: hsl(var(--blog-orange));
  --blog-foreground-highlight-backdrop: hsla(30, 100%, 80%, 0.15);

  --blog-green: hsl(145, 80%, 10%);
  --blog-red: hsl(0, 75%, 15%);

  --blog-border: hsl(0, 0%, 15%);
  --blog-border-green: hsl(142, 71%, 45%);
  --blog-border-red: hsl(0, 84%, 60%);

  --blog-pre: hsl(0, 0%, 12%);
  --blog-code-text: hsl(var(--blog-silver));
  --blog-code-keyword: var(--blog-orange);
  --blog-code-class: var(--blog-orange-darker);
  --blog-code-tag-css: 60 42% 76%;
  --blog-code-parameter: 41 53% 67%;
  --blog-code-function: 190 100% 80%;
  --blog-code-readable: 278 8% 80%;
  --blog-code-literal: 160 66% 55%;
  --blog-code-type: 160 66% 55%;
  --blog-code-string: 101 29% 47%;
  --blog-code-comment: 0 0% 50%;
  --blog-code-regexp: 350 80% 58%;
  --blog-code-regexp-lighter: 330 70% 65%;
  --blog-code-regexp-darker: 295 65% 47%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

body {
  font-family: "Open Sans" !important;
  background-clip: padding-box;

  /* 
  Some browsers has "vertical-align: baseline" as default for <textarea>, 
  which adds an weird bottom margin to it 
  */
  textarea {
    vertical-align: bottom;
  }

  *::selection {
    color: hsl(0, 0%, 0%) !important;
    background-color: var(--blog-foreground-highlight);
  }
}

/* Remove default close icon from search input */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

@layer base {
  /*------------------------------Scrollbar------------------------------*/
  .scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: hsl(var(--scrollbar-track));
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: hsl(var(--scrollbar-thumb));
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--scrollbar-thumb-hover));
  }

  .scrollbar::-webkit-scrollbar-corner {
    background: var(--blog-pre);
  }

  /*------------------------------Hide-Scrollbar------------------------------*/

  /* Hide scrollbar for Chrome, Safari and Opera */
  .blog-hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .blog-hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /*------------------------------Heading-Paragraph------------------------------*/
  .blog-heading {
    h1 {
      font-size: 2.5rem;
      font-weight: 900;
    }
    h2 {
      font-size: 2rem;
      font-weight: 900;
    }
    h3 {
      font-size: 1.5rem;
    }
    h4 {
      font-size: 1.25rem;
    }
  }

  @media (min-width: 800px) {
    .blog-heading {
      h1 {
        font-size: 3rem;
        font-weight: 900;
      }
      h2 {
        font-size: 2.5rem;
        font-weight: 900;
      }
      h3 {
        font-size: 2rem;
      }
      h4 {
        font-size: 1.5rem;
      }
      h5,
      h6 {
        font-size: 1rem;
      }
    }
  }

  .tiptap p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    color: var(--blog-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  /*------------------------------Margins------------------------------*/
  .blog-center-content {
    max-width: 1280px;
    margin: 0 auto;
  }

  .blog-margin {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      padding-top: 3rem;
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 1rem;
    }
    img {
      margin-bottom: 1rem;
    }
  }

  /*------------------------------Colors------------------------------*/
  .blog-text {
    line-height: 1.6;
    i,
    s,
    b,
    sub,
    sup,
    code,
    strong {
      color: inherit;
      word-break: break-word;
    }

    a {
      color: var(--blog-foreground-highlight);
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 500ms;
    }

    a:hover {
      color: var(--blog-foreground-readable-hover);
    }
  }

  /*------------------------------Lists------------------------------*/
  .blog-lists {
    ul,
    ol {
      margin-bottom: 1rem;
      list-style-position: inside;
      li {
        margin-bottom: 1rem;
      }
    }
    ul {
      list-style-type: disc;
      li {
        margin-bottom: 1rem;
      }
    }
    ol {
      list-style-type: decimal;
    }
    ul.todo-list {
      list-style-type: none;
      li {
        margin-left: 0.5rem;
      }
    }
  }

  /*------------------------------Featured------------------------------*/
  .blog-featured {
    padding: 1rem 2rem;
    background: var(--blog-background-2);
    border-radius: 8px;
    border: 1px solid var(--blog-border);
  }

  /*------------------------------Blockquote------------------------------*/
  .blog-blockquote {
    margin-bottom: 1rem;
  }

  .blog-blockquote blockquote {
    position: relative;
    border-left: transparent;
    font-style: italic;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    padding-left: 2.5rem;
    padding-right: 1.5em;
  }

  .blog-blockquote blockquote p {
    text-indent: 0rem;
    word-break: keep-all;
    margin-bottom: 0;
  }

  .blog-blockquote blockquote p:first-child::before {
    content: "“";
    position: absolute;
    font-family: Georgia, "Times New Roman", Times, serif;
    top: -0.5rem;
    left: 0.75rem;
    font-size: 2.5rem;
    color: var(--blog-silver);
  }
  .blog-blockquote blockquote p:last-child::after {
    content: "”";
    position: absolute;
    font-family: Georgia, "Times New Roman", Times, serif;
    bottom: 0;
    font-size: 2.5rem;
    text-indent: 0.5rem;
    line-height: 0.25rem;
    color: var(--blog-silver);
  }

  .blog-blockquote blockquote p strong {
    color: inherit;
  }

  /*------------------------------Code------------------------------*/
  .blog-code {
    background: var(--blog-pre);
    color: var(--blog-code-text);
    border: 1px solid var(--blog-border);
  }

  .blog-code pre code {
    display: grid;
    grid-template-columns: 1fr;
    overflow-x: auto;
    white-space: pre-wrap;
    word-break: break-word;
  }

  .blog-code .line {
    counter-increment: line-number;
    position: relative;
    padding: 0 1rem 0 4rem;
    font-size: 12px;
    height: auto;
    min-height: 20px;
    color: hsl(0, 0%, 50%);
  }

  .blog-code .line::before {
    content: counter(line-number);
    position: absolute;
    left: 0;
    top: 0px;
    width: 2rem;
    text-align: right;
    color: hsl(0, 0%, 50%);
    font-family: monospace;
  }

  .blog-code .line.diff.add::after,
  .blog-code .line.highlighted::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
    width: 2px;
    height: 100%;
    min-height: 20px;
    background: var(--blog-foreground-highlight);
  }

  .blog-code .line.diff.add,
  .blog-code .line.highlighted {
    background: var(--blog-foreground-highlight-backdrop);
  }
}
