@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "highlight.js/styles/github-dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blog-black: 300 3% 6%;
  --blog-black-lighter: 300 3% 12%;
  --blog-silver: 278 8% 80%;
  --blog-orange: 30 85% 65%;
  --blog-orange-darker: 30 55% 45%;
  --blog-orange-lighter: 30 90% 70%;
  /* --blog-green: 81 93% 56%; */
  /* --blog-yellow: 46 96% 79%; */
  /* --blog-cyan: 184 100% 73%; */
  /* --blog-purple: 252 96% 78%; */
  /* --blog-red: 350 80% 58%; */

  /*------------------------------=====Light=====------------------------------*/
  /* --scrollbar-track: transparent; */
  --scrollbar-track: 0 0% 0%;
  /* --scrollbar-thumb: var(--blog-orange); */
  --scrollbar-thumb: 266 4% 35%;
  /* --scrollbar-thumb-hover: var(--blog-orange-lighter); */
  --scrollbar-thumb-hover: 270 3% 39%;

  --blog-background-1: hsl(278, 21%, 93%);
  --blog-background-2: hsl(274, 7%, 79%);
  --blog-background-3: hsl(278, 5%, 71%);
  --blog-background-backdrop: hsla(0, 0%, 87%, 0.25);

  --blog-foreground-readable: hsl(var(--blog-black));
  --blog-foreground-readable-hover: hsl(var(--blog-orange));
  --blog-foreground-highlight: hsl(var(--blog-orange));

  --blog-border: hsl(0, 0%, 88%);

  --blog-pre: hsl(var(--blog-black));
  --blog-code-text: hsl(var(--blog-silver));

  --blog-code-keyword: var(--blog-orange);
  --blog-code-title-class_: var(--blog-orange-darker);
  --blog-code-title-function_: 250 60% 80%;
  --blog-code-literal: 160 66% 55%;
  --blog-code-built-in: 160 66% 55%;
  --blog-code-params: 190 100% 80%;
  --blog-code-string: 190 100% 80%;
  --blog-code-number: 160 66% 55%;
  --blog-code-comment: 0 0% 50%;
  --blog-code-regexp: 350 80% 58%;
}

.dark {
  /*------------------------------=====Dark=====------------------------------*/
  --scrollbar-track: 0 0% 0%;
  --scrollbar-thumb: 266 4% 35%;
  --scrollbar-thumb-hover: 270 3% 39%;

  --blog-background-1: hsl(0, 0%, 11%);
  --blog-background-2: hsl(0, 0%, 7%);
  --blog-background-3: hsl(0, 0%, 0%);
  --blog-background-backdrop: hsla(0, 0%, 7%, 0.25);

  --blog-foreground-readable: hsl(var(--blog-silver));
  --blog-foreground-readable-hover: hsl(0, 0%, 100%);
  --blog-foreground-highlight: hsl(var(--blog-orange));

  --blog-border: hsl(0, 0%, 15%);

  --blog-pre: hsl(var(--blog-black));
  --blog-code-text: hsl(var(--blog-silver));

  --blog-code-keyword: var(--blog-orange);
  --blog-code-title-class_: var(--blog-orange-darker);
  --blog-code-title-function_: 250 60% 80%;
  --blog-code-literal: 160 66% 55%;
  --blog-code-built-in: 160 66% 55%;
  --blog-code-params: 190 100% 80%;
  --blog-code-string: 190 100% 80%;
  --blog-code-number: 160 66% 55%;
  --blog-code-comment: 0 0% 50%;
  --blog-code-regexp: 350 80% 58%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans" !important;

  /* 
  Some browsers has "vertical-align: baseline" as default for <textarea>, 
  which adds an weird bottom margin to it 
  */
  textarea {
    vertical-align: bottom;
  }
}

@layer base {
  /*------------------------------Webpage-Scrollbar------------------------------*/
  .scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: hsl(var(--scrollbar-track));
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: hsl(var(--scrollbar-thumb));
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--scrollbar-thumb-hover));
  }

  /*------------------------------Heading-Paragraph------------------------------*/
  .blog-heading {
    h1 {
      font-size: 3rem;
      font-weight: 900;
    }
    h2 {
      font-size: 2.5rem;
      font-weight: 900;
    }
    h3 {
      font-size: 2rem;
    }
    h4 {
      font-size: 1.5rem;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      padding-top: 3rem; /* To align the top of each heading with the bottom of the header when navigating with anchors */
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 1rem;
    }
  }

  /*------------------------------Colors------------------------------*/
  .blog-text {
    line-height: 1.6;
    i,
    s,
    b,
    sub,
    sup,
    code,
    strong {
      color: inherit;
    }

    a {
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 500ms;
      color: var(--blog-foreground-highlight);
      text-decoration: underline;
    }

    a:hover {
      color: var(--blog-foreground-readable-hover);
    }
  }

  /*------------------------------Lists------------------------------*/
  .blog-lists {
    ul,
    ol {
      margin-bottom: 1rem;
      list-style-position: inside;
      li {
        margin-bottom: 1rem;
      }
    }
    ul {
      list-style-type: disc;
      li {
        margin-bottom: 1rem;
      }
    }
    ol {
      list-style-type: decimal;
    }
    ul.todo-list {
      list-style-type: none;
      li {
        margin-left: 0.5rem;
      }
    }
  }

  /*------------------------------Blockquote------------------------------*/
  .blog-blockquote {
    margin-bottom: 1rem;
  }

  .blog-blockquote blockquote {
    position: relative;
    border-left: transparent;
    font-style: italic;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    padding-left: 2.5rem;
    padding-right: 1.5em;
    margin-bottom: 1rem;
  }

  .blog-blockquote blockquote p {
    text-indent: 0rem;
    word-break: keep-all;
    margin-bottom: 0;
  }

  .blog-blockquote blockquote p:first-child::before {
    content: "“";
    position: absolute;
    font-family: Georgia, "Times New Roman", Times, serif;
    top: -0.5rem;
    left: 0.75rem;
    font-size: 2.5rem;
    color: var(--blog-silver);
  }
  .blog-blockquote blockquote p:last-child::after {
    content: "”";
    position: absolute;
    font-family: Georgia, "Times New Roman", Times, serif;
    bottom: 0;
    font-size: 2.5rem;
    text-indent: 0.5rem;
    line-height: 0.25rem;
    color: var(--blog-silver);
  }

  .blog-blockquote blockquote p strong {
    color: inherit;
  }

  /*------------------------------Code------------------------------*/
  .blog-code pre {
    background: var(--blog-pre);
    color: var(--blog-code-text);
    border: 1px solid transparent;
    /* border-radius: 8px; */
    margin: 1rem 0;
    padding: 1rem 1.5rem;
    line-height: 1.5rem;
    direction: ltr;
    text-align: left;
    overflow: auto hidden;
    /* white-space: pre-wrap; */
    /* tab-size: 4; */

    code {
      overflow-x: scroll;
    }

    .hljs-variable.language_ {
      color: hsl(var(--blog-code-string));
    }

    .hljs-title.class_ {
      color: hsl(var(--blog-code-title-class_));
    }

    .hljs-title.function_ {
      color: hsl(var(--blog-code-title-function_));
    }

    .hljs-literal {
      color: hsl(var(--blog-code-literal));
    }

    .hljs-params {
      color: hsl(var(--blog-code-params));
    }

    .hljs-keyword {
      color: hsl(var(--blog-code-keyword));
    }

    .hljs-string {
      color: hsl(var(--blog-code-string));
    }

    .hljs-subst .hljs-built_in {
      color: inherit;
    }

    .hljs-regexp {
      color: hsl(var(--blog-code-regexp));
    }

    .hljs-number {
      color: hsl(var(--blog-code-number));
    }

    .hljs-built_in {
      color: hsl(var(--blog-code-built-in));
    }

    .hljs-attr {
      color: inherit;
    }

    .hljs-comment {
      color: hsl(var(--blog-code-comment));
    }
  }

  /*------------------------------Others------------------------------*/
  .blog-center-content {
    max-width: 1280px;
    margin: 0 auto;
  }

  .blog {
    word-break: break-word;
  }
}
