@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*-----------------------------LightTheme------------------------------*/
  --base-neutral: #291334;
  --base-neutral-hover: #895b9c;
  --base-100: #faf7f5;
  --base-150: #f8f3f0;
  --base-200: #efeae6;
  --base-300: #d4d3d2;
  --base-border: #d3d3d3;
  --base-blue: #3abff8;
  --base-blue-hover: #15b7fd;
  --base-green: #2ec78f;
  --base-green-hover: #36cf97;
  --base-yellow: #eeaf3a;
  --base-red: #f87272;
  --base-pink: #ef9fbc;
  --base-purple: #8560c5;
  /*------------------------------DarkTheme------------------------------*/
  --dark-base-neutral: #a6adbb;
  --dark-base-neutral-hover: #b8bdc9;
  --dark-base-100: #222222;
  --dark-base-150: #1b1b1b;
  --dark-base-200: #131313;
  --dark-base-300: #0a0a0a;
  --dark-base-border: #333333;
  --dark-base-blue: #3abff8;
  --dark-base-blue-hover: #15b7fd;
  --dark-base-green: #40b88c;
  --dark-base-green-hover: #51bb94;
  --dark-base-yellow: #fbbf24;
  --dark-base-red: #f87272;
  --dark-base-pink: #d926a9;
  --dark-base-purple: #661ae6;

  --toastify-icon-color-info: #3abff8;
  --toastify-icon-color-success: #6ee7b7;
  --toastify-icon-color-warning: #fbbf24;
  --toastify-icon-color-error: #f87272;

  --toastify-color-progress-info: #93c5fd;
  --toastify-color-progress-success: #6ee7b7;
  --toastify-color-progress-warning: #fcd34d;
  --toastify-color-progress-error: #fca5a5;
}

/*---------------------------------------ToastMessages-----------------------------------------*/
/* Close button */
.Toastify__close-button {
  color: #fff;
  opacity: 0.7;
}
/*--------------------------------------------------------------------------------*/

/* Get rid off reveal button (eye icon) from password input type */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

/* Remove default close icon from search input */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Block browser to change background color when autofilling */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
  /* -webkit-text-fill-color: color !important;
  -webkit-box-shadow: 0 0 0 30px color inset !important; */
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}

/*--angle is a property used for animate the profile picture border at about-me page (sobre-mim)*/
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer utilities {
  /*------------------------------TipTapParagraph-------------------------------*/
  .editor-paragraph {
    width: 100%;
    margin-bottom: 1rem;
    color: var(--base-neutral);
  }
  .editor-dark-paragraph {
    color: var(--dark-base-neutral);
  }
  /*------------------------------TipTapHeading-3------------------------------*/
  .heading-border-top {
    border-top: 1px solid var(--base-border);
  }
  .heading-dark-border-top {
    border-top: 1px solid var(--dark-base-border);
  }
  .editor-heading {
    width: 100%;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--base-neutral);
  }
  .editor-dark-heading {
    color: var(--dark-base-neutral);
  }
  /*------------------------------TipTapHeading-4------------------------------*/
  .editor-heading-h4 {
    width: 100%;
    font-weight: 900;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--base-neutral);
  }
  .editor-dark-heading-h4 {
    color: var(--dark-base-neutral);
  }
  /*------------------------------TipTapLists------------------------------*/
  .editor-unordered-list {
    list-style: disc;
  }
  .editor-ordered-list {
    list-style: decimal;
  }
  .editor-list {
    width: 100%;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
  }
  .editor-list li {
    color: var(--base-neutral);
    padding-left: 1rem;
  }
  .editor-list li p {
    margin-bottom: 0.5rem;
  }
  .editor-list li::marker {
    color: var(--base-green);
  }
  .editor-dark-list li {
    color: var(--dark-base-neutral);
  }
  /*------------------------------TipTapCode------------------------------*/
  pre {
    width: 100%;
    text-wrap: wrap;
    color: var(--base-100);
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    background: var(--dark-base-300);
    caret-color: var(--dark-base-neutral);

    /*
    hljs-params
    .hljs-regexp
    .hljs-tag
    .hljs-attribute
    .hljs-builtin-name
    .hljs-keyword
    .hljs-selector-tag
    */

    .hljs-built_in,
    .hljs-section,
    .hljs-name,
    .hljs-link {
      color: #8be9fd;
    }

    .hljs-keyword {
      color: #ff79c6;
    }

    .hljs,
    .hljs-subst {
      color: #f8f8f2;
    }

    .hljs-title,
    .hljs-attr,
    .hljs-meta-keyword {
      font-style: italic;
      color: #50fa7b;
    }

    .hljs-string,
    .hljs-meta,
    .hljs-type,
    .hljs-symbol,
    .hljs-bullet,
    .hljs-addition,
    .hljs-variable,
    .hljs-template-tag,
    .hljs-template-variable {
      color: #f1fa8c;
    }

    .hljs-selector-class /* CSS class selector */,
    .hljs-selector-id /* CSS id selector */ {
      color: #fad78c;
    }

    .hljs-comment,
    .hljs-quote,
    .hljs-deletion {
      color: #6272a4;
    }

    .hljs-keyword,
    .hljs-literal,
    .hljs-title,
    .hljs-section,
    .hljs-doctag,
    .hljs-type,
    .hljs-name,
    .hljs-strong {
      font-weight: bold;
    }

    .hljs-literal,
    .hljs-number {
      color: #bd93f9;
    }

    .hljs-emphasis {
      font-style: italic;
    }
  }
  /*------------------------------TipTapLink------------------------------*/
  .editor-link {
    cursor: pointer;
    font-weight: 500;
    text-decoration: underline;
    color: var(--base-green);
  }
  .editor-link:hover {
    color: var(--base-green-hover);
  }
  /*
  .editor-link:visited {
    color: #653b7a;
  }
  .editor-link:visited:hover {
    color: #442255;
  }
  */
  /*------------------------------TipTapBlockquote------------------------------*/
  .editor-blockquote {
    width: 100%;
    position: relative;
    font-style: italic;
    padding-left: 2.5rem;
    padding-right: 1.5rem;
    margin-bottom: 1rem;
  }
  .editor-blockquote p {
    text-indent: 1.5rem;
    word-break: keep-all;
    margin-bottom: 0;
  }
  .editor-blockquote p:first-child::before {
    content: "“";
    position: absolute;
    font-family: Georgia, "Times New Roman", Times, serif;
    top: -0.5rem;
    left: 0.75rem;
    font-size: 2.5rem;
    color: var(--base-green);
  }
  .editor-dark-blockquote p:first-child::before {
    color: var(--dark-base-green);
  }
  .editor-blockquote p:last-child::after {
    content: "”";
    position: absolute;
    font-family: Georgia, "Times New Roman", Times, serif;
    bottom: 0;
    font-size: 2.5rem;
    text-indent: 0.5rem;
    line-height: 0.25rem;
    color: var(--base-green);
  }
  .editor-dark-blockquote p:last-child::after {
    color: var(--dark-base-green);
  }
  /*------------------------------TipTapCite------------------------------*/
  .editor-cite {
    color: var(--base-neutral);
    position: relative;
    font-style: normal;
    width: 100%;
    padding-left: 2.5rem;
    text-indent: 1.5rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
  }
  .editor-cite::before {
    content: "";
    height: 2px;
    width: 16px;
    position: absolute;
    left: 2.5rem;
    top: 50%;
    transform: translateY(-50%);
    background: var(--base-green);
  }
  .editor-dark-cite {
    color: var(--dark-base-neutral);
  }
  .editor-dark-cite::before {
    background: var(--dark-base-green);
  }
  /*------------------------------TipTapGapCursor------------------------------*/
  .ProseMirror-gapcursor {
    white-space: normal;
    caret-color: transparent;
    display: none;
    pointer-events: none;
  }
  /*------------------------------TipTapTable------------------------------*/
  .tiptap.resize-cursor {
    cursor: col-resize;
  }
  .editor-table .column-resize-handle {
    /* Column resize border */
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: -2px;
    width: 4px;
    pointer-events: none;
    background: #291334;
  }
  .editor-dark-table .column-resize-handle {
    background: #a6adbb;
  }
  .editor-table .selectedCell:after {
    /* Highlight selected cells */
    background: rgba(198, 93, 255, 0.25);
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    position: absolute;
    z-index: 1;
  }
  .selectedCell *::selection {
    /* Remove text selection inside table */
    background: rgb(248, 30, 30);
  }
  .editor-table {
    width: 100%;
    margin-bottom: 1rem;
  }
  /* .editor-table th:hover,
  .editor-table td:hover {
    outline-color: #2ec78f;
  } */
  .editor-table,
  .editor-table th,
  .editor-table td {
    /* outline: 2px solid transparent;
    outline-offset: 0px;
    transition: outline 200ms ease-in-out; */
    border-width: 1px;
    border-style: solid;
    border-color: #dcc8e6;
    border-collapse: collapse;
  }
  .editor-table th,
  .editor-table td {
    position: relative;
    text-align: left;
    padding: 0.25rem 0.5rem;
  }
  .editor-table th p,
  .editor-table td p {
    margin-bottom: 0px;
  }
  .editor-table th {
    font-weight: 900;
    background: #ede1f3;
  }
  .editor-dark-table,
  .editor-dark-table th,
  .editor-dark-table td {
    border-color: var(--dark-base-border);
  }
  /* .editor-dark-table:hover {
    outline-color: #40b88c;
  } */
  .editor-dark-table th {
    background: var(--dark-base-150);
  }
  /*------------------------------Scrollbar------------------------------*/
  .scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .scrollbar::-webkit-scrollbar-track {
    cursor: default;
    /* border-radius: 100vh; */
    background: none;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--base-neutral);
    /* border-radius: 100vh; */
    border: none;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    cursor: default;
    background: var(--base-neutral-hover);
  }
  /*------------------------------Dark-Mode-Scrollbar------------------------------*/
  .dark-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .dark-scrollbar::-webkit-scrollbar-track {
    cursor: default;
    /* border-radius: 100vh; */
    background: var(--dark-base-300);
  }
  .dark-scrollbar::-webkit-scrollbar-thumb {
    background: var(--dark-base-neutral);
    /* border-radius: 100vh; */
    border: none;
  }
  .dark-scrollbar::-webkit-scrollbar-thumb:hover {
    cursor: default;
    background: var(--dark-base-neutral-hover);
  }
  /*------------------------------Modal-Shown-(Fixed-Body)------------------------------*/
  .modal-shown {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  /*------------------------------Checkbox------------------------------*/
  .checkbox-wrapper-16 .checkbox {
    width: calc(var(--size, 1) * 16px);
  }
  .checkbox-wrapper-22 .checkbox {
    width: calc(var(--size, 1) * 22px);
  }
  .checkbox-wrapper .checkbox {
    --brdr: var(--base-neutral);
    --brdr-actv: var(--base-neutral);
    --brdr-hovr: var(--base-neutral-hover);
    --stroke: var(--base-green);
    --dur: calc((var(--size, 2) / 2) * 0.6s);
  }
  .checkbox-wrapper .dark-checkbox {
    --brdr: var(--dark-base-neutral);
    --brdr-actv: var(--dark-base-neutral);
    --brdr-hovr: var(--dark-base-neutral-hover);
    --stroke: var(--dark-base-green);
  }
  .checkbox-wrapper .checkbox input {
    border-radius: calc(var(--size, 1) * 4px);
    border: calc(var(--newBrdr, var(--size, 1)) * 1px) solid;
    color: var(--newBrdrClr, var(--brdr));
    transition: all calc(var(--dur) / 3) linear;
  }
  .checkbox-wrapper .checkbox input:hover,
  .checkbox-wrapper .checkbox input:checked {
    --newBrdr: calc(var(--size, 1) * 1);
  }
  .checkbox-wrapper .checkbox input:hover {
    --newBrdrClr: var(--brdr-hovr);
  }
  .checkbox-wrapper .checkbox input:checked {
    --newBrdrClr: var(--brdr-actv);
    transition-delay: calc(var(--dur) / 1.3);
  }
  .checkbox-wrapper .checkbox input:checked + svg {
    --dashArray: 16 93;
    --dashOffset: 109;
  }
  .checkbox-wrapper .checkbox svg {
    stroke: var(--stroke, var(--border-active));
    stroke-dasharray: var(--dashArray, 93);
    stroke-dashoffset: var(--dashOffset, 94);
    transition: stroke-dasharray var(--dur), stroke-dashoffset var(--dur);
  }
}
