@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
  --primary: oklch(0.541 0.281 293.009);
  --secondary: oklch(0.432 0.232 292.759);
  --success: oklch(59.6% 0.145 163.225);
  --informative: oklch(54.6% 0.245 262.881);
  --destructive: oklch(58.6% 0.253 17.585);
  --warning: oklch(68.1% 0.162 75.834);
  --background: var(--color-stone-100);
  --container: var(--color-stone-200);
  --border: var(--color-stone-300);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: oklch(0.606 0.25 292.717);
    --secondary: oklch(0.432 0.232 292.759);
    --success: oklch(59.6% 0.145 163.225);
    --informative: oklch(54.6% 0.245 262.881);
    --destructive: oklch(58.6% 0.253 17.585);
    --warning: oklch(68.1% 0.162 75.834);
    --background: var(--color-stone-925);
    --container: var(--color-stone-900);
    --border: var(--color-stone-700);
  }
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-success: var(--success);
  --color-informative: var(--informative);
  --color-destructive: var(--destructive);
  --color-warning: var(--warning);
  --color-background: var(--background);
  --color-container: var(--container);
  --color-border: var(--border);
  --color-stone-25: oklch(0.988 0.002 85.1);
  --color-stone-75: oklch(0.975 0.003 85.1);
  --color-stone-125: oklch(0.945 0.004 85.1);
  --color-stone-150: oklch(0.928 0.004 85.1);
  --color-stone-175: oklch(0.91 0.005 85.1);
  --color-stone-225: oklch(0.865 0.006 85.1);
  --color-stone-250: oklch(0.84 0.007 85.1);
  --color-stone-275: oklch(0.815 0.008 85.1);
  --color-stone-325: oklch(0.76 0.009 85.1);
  --color-stone-350: oklch(0.73 0.01 85.1);
  --color-stone-375: oklch(0.7 0.01 85.1);
  --color-stone-425: oklch(0.635 0.011 85.1);
  --color-stone-450: oklch(0.602 0.012 85.1);
  --color-stone-475: oklch(0.57 0.012 85.1);
  --color-stone-525: oklch(0.51 0.012 85.1);
  --color-stone-550: oklch(0.482 0.012 85.1);
  --color-stone-575: oklch(0.455 0.012 85.1);
  --color-stone-625: oklch(0.405 0.011 85.1);
  --color-stone-675: oklch(0.36 0.01 85.1);
  --color-stone-650: oklch(0.382 0.011 85.1);
  --color-stone-725: oklch(0.32 0.009 85.1);
  --color-stone-750: oklch(0.302 0.009 85.1);
  --color-stone-775: oklch(0.285 0.008 85.1);
  --color-stone-825: oklch(0.25 0.007 85.1);
  --color-stone-850: oklch(0.232 0.007 85.1);
  --color-stone-875: oklch(0.215 0.006 85.1);
  --color-stone-925: oklch(0.18 0.005 85.1);
  --color-stone-950: oklch(0.16 0.005 85.1);
  --color-stone-975: oklch(0.14 0.004 85.1);

  /* APP */
  --height-header: 50px;
  --height-footer: 60px;
  --padding-article-content: 80px;
  --max-width-article-body: 1060px;
  --max-width-article-title: 900px;
  --max-width-comments: 860px;
  --margin-header-height: var(--height-header);
  --animate-bouncing-arrow: bouncing-arrow 1s infinite;
  --animate-skeleton: skeleton 2s -1s infinite linear;
  --animate-circular-open: circular-open 400ms ease-out forwards;

  /* FONT-FAMILY */
  --font-inter: "Inter", font-sans;

  @keyframes skeleton {
    to {
      background-position: -200% 0;
    }
  }

  @keyframes bouncing-arrow {
    0%,
    100% {
      top: 50%;
      left: 50%;
      transform: translate(0, -10%);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
    50% {
      top: 50%;
      left: 50%;
      transform: translate(0, 15%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
  }

  @keyframes circular-open {
    from {
      clip-path: circle(0% at 50% 50%);
    }
    to {
      clip-path: circle(150% at 50% 50%);
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-inter text-neutral-950 dark:text-neutral-100 bg-background;
  }
  .header-hidden {
    transform: translateY(calc(-1 * var(--height-header)));
  }

  /* Scrollbar */
  .scrollbar,
  .tiptap.ProseMirror {
    overflow: auto;
  }

  .scrollbar::-webkit-scrollbar,
  .tiptap.ProseMirror::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar::-webkit-scrollbar-track,
  .tiptap.ProseMirror::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb,
  .tiptap.ProseMirror::-webkit-scrollbar-thumb {
    cursor: default;
    border-radius: 9999px;
    border: 2px solid transparent;
    background-color: var(--color-stone-800);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover,
  .tiptap.ProseMirror::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-stone-700);
  }

  .scrollbar::-webkit-scrollbar-corner,
  .tiptap.ProseMirror::-webkit-scrollbar-corner {
    background: transparent;
  }

  /* Text selection */
  ::selection {
    background-color: color-mix(in oklab, var(--primary) 75%, black);
    color: white;
  }

  input::selection,
  textarea::selection {
    background-color: color-mix(in oklab, var(--primary) 75%, black);
    color: white;
  }

  /* Autofill */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-internal-autofill-selected {
    -webkit-box-shadow: 0 0 0px 1000px
      color-mix(in oklab, var(--primary) 25%, transparent) inset !important;
    -webkit-text-fill-color: #ffffff !important; /* Text */
    -webkit-background-clip: text !important;
    background-clip: text !important;
    border: 1px solid color-mix(in oklab, var(--primary) 75%, transparent) !important;
    border-radius: inherit;
    transition: background-color 50000s ease-in-out 0s; /* Lock browser transition, so it does not override it */
  }

  /* Autofill error */
  input:-webkit-autofill.border-destructive,
  .has-error input:-webkit-autofill {
    border-color: var(--destructive) !important;
    -webkit-box-shadow:
      0 0 0px 1000px #171717 inset,
      0 0 0px 1000px color-mix(in oklab, var(--destructive) 25%, transparent)
        inset !important;
  }

  /* input:-webkit-autofill + label {
    color: var(--primary) !important;
  } */

  /* Makes sure peer-placeholder-shown works with autofill (usually it doesn't), otherwise label might get stuck */
  input:-webkit-autofill:not(:placeholder-shown) + label {
    filter: none; /* Browser re-render */
  }
}
