@import "tailwindcss";

:root {
  --background: white;
  --foreground: black;
  --theme: rgb(80, 160, 136);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsla(0, 0%, 4%, 1);
    --foreground: hsla(0, 0%, 45%, 1);
    --theme: rgb(80, 160, 136);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-theme: var(--theme);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
