NEXT_PUBLIC_WEB_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8080
API_URL_SERVER=http://localhost:8080

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

NEXTAUTH_URL=
AUTH_SECRET=

NEXT_PUBLIC_KEYCLOAK_ISSUER=http://localhost:8085/realms/yourrealm
NEXT_PUBLIC_KEYCLOAK_REALM=yourrealm
NEXT_PUBLIC_KEYCLOAK_BLOG_WEB_CLIENT_ID=next-realm
KEYCLOAK_BLOG_WEB_CLIENT_SECRET=
